html {
  scroll-behavior: smooth;
}

body {
  background-color: #000103;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

p {
  color: #f6f9f9e4;
}

#effectBlock {
  width: 790px;
  height: 900px;
  background-color: #1e1f1e;
  position: absolute;
  top: 680px;
  margin-left: -770px;
  z-index: -1;
}

#effectBlock2 {
  width: 100%;
  height: 500px;
  margin: auto;
  background-color: #1e1f1e;
  position: absolute;
  top: 2242px;
  z-index: -1;
}

/* ---------- header ---------- */
header {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 500;
  width: 1100px;
  margin: 40px auto;
}

#logo-shell {
  display: flex;
  width: 50%;
  padding: 6px;
}

.logo {
  display: flex;
  padding: 2px;
}

.logo svg {
  width: 40px;
  height: 40px;
}

.st0 {
  fill: #f7f7ff;
}

#drop-buttons {
  display: none;
}

#hdee {
  display: none;
}

nav {
  display: block;
}

nav a {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
  padding: 5px 15px;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

nav li {
  padding: 14px;
}

header a:hover {
  color: red;
  transform: translateY(-7px) scale(1.2);
  pointer-events: all;
}

/* ---------- intro ---------- */
#intro {
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
  width: 1100px;
}

#intro-img {
  width: 500px;
}

#introText {
  padding: 80px;
}

#intro h2 {
  font-family: cursive;
  color: red;
  margin: 0;
}

#intro h1 {
  font-size: 55px;
  margin: 0;
  font-family: cursive;
}

#introText p {
  margin: 10px 0;
}

#intro-a {
  margin-top: 20px;
}

#intro a {
  text-decoration: none;
  color: white;
  border: 1px solid red;
  padding: 10px 30px;
  background-color: red;
  font-size: 15px;
  transition: all 0.5s ease;
}

#intro a:hover {
  background-color: white;
  color: red;
  border: white;
}

/* ----------- posters ---------- */
#posters {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 154px;
}

#posterDesign {
  width: 250px;
  height: 250px;
  background-color: #171919f8;
  padding: 40px;
}

#posters svg {
  width: 60px;
  height: 60px;
}

#posterDesign svg {
  fill: #ff1b1c;
}

#posterDesignMiddle svg {
  fill: #f7f7ff;
}

#posterDesign a {
  text-decoration: none;
  color: red;
  transition: all 0.5s ease;
}

#posterDesign a:hover {
  color: white;
}

#posterDesignMiddle {
  width: 250px;
  height: 250px;
  background-color: red;
  padding: 40px;
}

#posterDesignMiddle a {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
}

#posterDesignMiddle a:hover {
  color: black;
}

/* ---------- grid 1 ----------*/
#firstGridSection-holder {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 140px;
}

#firstGridSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 20px;
}

#firstGridSection div {
  height: 100%;
  padding: 15px 72px;
}

#point {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.two {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #171919f8;
}

#h11 {
  margin: 0;
  color: red;
  font-size: 100px;
  font-weight: 900;
}

#h12 {
  margin: 0;
  font-weight: 500px;
}

#point {
  grid-row: 1/3;
  grid-column: 1/1;
}

#pointh1 {
  margin: 0;
  color: red;
  font-size: 50px;
  font-family: fantasy;
  font-weight: 500;
}

#pointp {
  margin: 0;
}

/* ---------- featured projects ---------- */
#featuredProjects {
  margin-bottom: 10px;
}

#featuredProjects h1,
#featuredProjects p {
  margin: 0;
}

#fp {
  display: flex;
  justify-content: space-around;
  width: 1511px;
  margin: 25px auto;
}

#fpa-holder {
  padding-top: 30px;
}

#fpa {
  background-color: red;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  border: 1px solid red;
  transition: all 0.5s ease;
}

#fpa:hover {
  background-color: white;
  border: white;
  color: red;
}

#projectsHolder {
  display: flex;
  justify-content: center;
}

#projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 120px;
}

.cont {
  width: 500px;
  height: 300px;
  background-color: #171919f8;
  display: flex;
  justify-content: center;
}

#projects a {
  color: red;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

#projects a:hover {
  color: white;
}

#projects h2 {
  margin: 0;
}

.contBefore {
  text-align: left;
  width: 500px;
}

#fozShot,
#lessShot,
#kraiShot,
#aroundTheWorldShot {
  width: 400px;
  margin: 40px auto;
}

/* ---------- invite -----------*/
#invite {
  display: flex;
  justify-content: space-between;
  width: 945px;
  margin: 5px auto;
  background-color: #171919f8;
  padding: 50px;
}

#invite-sub1 {
  width: 60%;
}

#invite-sub1 h1 {
  font-weight: 900;
}

#invite-sub2 {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#invite a {
  padding: 10px 30px;
  text-decoration: none;
  background-color: red;
  color: white;
  transition: all 0.5s ease;
}

#invite a:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

/* ---------- footer ----------*/
#footerHead {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  margin: 20px auto;
}

#footerHead a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: all 0.5s ease;
}

#footerHead a:hover {
  color: red;
  transform: translateY(-7px) scale(1.2);
  pointer-events: all;
}

#final-footer-line-holder {
  background-color: #1e1f1e;
  padding: 30px 0;
}

#final-footer-line {
  display: flex;
  justify-content: space-between;
  width: 1010px;
  margin: auto;
  background-color: #1e1f1e;
  padding: 20px;
}

#ffl-div1 {
  width: 40%;
}

#ffl-svg1 {
  width: 35px;
  height: 35px;
}

.st0 {
  fill: #f7f7ff;
}

#svgs {
  padding-top: 10px;
  display: flex;
  gap: 20px;
}

#svgs svg {
  fill: #495057;
  height: 25px;
  width: 25px;
  transition: all 0.5s ease;
}

#svgs svg:hover {
  fill: #ffffff;
  cursor: pointer;
}

#ffl-div3 {
  width: 40%;
  text-align: right;
}

#ffl-div3 p {
  margin: 0;
  padding-top: 10px;
}

@media (max-width: 991px) {
  header {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  #logo-shell {
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
  }

  .logo {
    padding: 5px 14px;
  }

  .logo svg {
    width: 30px;
    height: 26px;
  }

  #drop-buttons {
    display: block;
    padding: 8px 5px;
  }

  #drop-buttons svg {
    width: 30px;
    height: 18px;
    fill: #ffffff;
  }
  #ddee,
  #hdee {
    background-color: #000000;
    border: none;
    transform: rotate(0deg);
    cursor: pointer;
  }

  nav {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

  .nav-active {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
  }

  @keyframes rotateFadeOut {
    0% {
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      opacity: 0;
      transform: rotate(90deg);
    }
  }

  @keyframes rotateFadeIn {
    0% {
      opacity: 0;
      transform: rotate(-90deg);
    }
    100% {
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    text-align: center;
    list-style: none;
    margin: 10px 0;
    padding: 7px 0;
  }

  #intro {
    width: 100%;
  }

  #intro-img {
    display: none;
  }

  #introText {
    padding: 109px 0;
    background-image: url(static/introPic.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-position: center;
    text-align: center;
    align-items: center;
  }
  #intro h2 {
    text-shadow: 2px 4px 2px rgb(0, 0, 0, 0.5);
  }
  #intro h1,
  #intro h2,
  #introText p {
    text-shadow: 2px 4px 2px rgb(0, 0, 0, 0.5);
  }
  #introText p {
    margin: 10px 0;
    width: 80%;
    font-size: 14px;
  }

  #effectBlock,
  #effectBlock2 {
    display: none;
  }

  #posters {
    width: 100%;
  }

  #posterDesign,
  #posterDesignMiddle {
    width: 60%;
    height: 250px;
  }

  #posterDesign p,
  #posterDesignMiddle p,
  #posterDesign a,
  #posterDesignMiddle a {
    font-size: 14px;
  }

  #firstGridSection {
    display: flex;
    flex-direction: column;
    width: 70%;
    row-gap: 10px;
  }

  #fp {
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 50px auto;
  }

  #featuredProjects h1,
  #featuredProjects p {
    padding: 5px;
  }

  #featuredProjects p {
    font-size: 14px;
  }

  #projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contBefore {
    width: 100%;
  }

  .cont {
    width: 100%;
    height: auto;
  }

  #fozShot,
  #lessShot,
  #kraiShot,
  #aroundTheWorldShot {
    width: 90%;
  }

  .cont h2 {
    margin-top: 10px;
  }

  .cont a {
    font-size: 12px;
  }

  #invite {
    padding: 30px 0;
    flex-direction: column;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #invite h1 {
    font-size: larger;
  }

  #invite p {
    font-size: 13px;
  }

  #invite a {
    font-size: 12px;
    padding: 6px 20px;
  }

  #final-footer-line {
    width: 100%;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  #ffl-div1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #ffl-div1 svg {
    width: 60px;
    height: 60px;
  }

  #ffl-div3 {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  #svgs svg {
    width: 23px;
    height: 23px;
  }
}

@media (min-width: 530px) {
  #introText {
    background-size: contain;
  }
}

@media (min-width: 991px) {
  #header-container {
    width: 100%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
  }

  #navbar {
    display: block;
  }
}

@media (min-width: 1024px) {
  header {
    max-width: 900px;
    margin: 40px auto;
  }
}

@media (min-width: 1200px) {
  header {
    max-width: 1100px;
    margin: 40px auto;
  }
}
